{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <p>こんにちは！{{ user.username }}さん</p>
    <a href="{% url 'logout' %}">ログアウト</a>
    <h1>新規登録</h1>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit btn btn-primary">投稿する</button>
    </form>
    {% else %}
    <p>ログインしてません。</p>
    <a href="{% url 'login' %}">ログイン</a>
    <a href="{% url 'signup' %}">登録</a
        {% endif %}

    </div>

    {% endblock %}