{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>投稿詳細</h2>
    <div class='card mb-3'>
        <div class='card-body'>
          <h5 class='card-title'>{{ object.owner }}</h5>
          <p class='card-text'>{{ object.content }}</p>
          <p class='card-text text-right'>{{ object.created_at }}</p>
          <a href="{% url 'index' %}" class="btn btn-primary">トップに戻る</a>
          {% if user.is_authenticated %}
            {% if user == object.owner %}
              <form action="{% url 'delete' object.pk %}" style='display:inline-block;' method='POST'>
                {% csrf_token %}
                <button class='btn btn-danger'>削除</button>
              </form>
            {% endif %}
            {% if is_favorite %}
               <button class='btn btn-warning disabled'>お気に入り：{{ object.favorite_count }}</button>
            {% else %}
               <form action='{% url 'favorite' object.pk %}' style='display: inline-block;' method='POST'>
                   {% csrf_token %}
                   <button class='btn btn-outline-warning'>お気に入り:{{ object.favorite.count }}</button>
               </form>
            {% endif %}
          {% endif %}
        </div>
      </div>
</div>
{% endblock content %}